$clr-tomato: hsl(4, 100%, 67%);
$clr-DarkSlateGrey: hsl(234, 29%, 20%);
$clr-CharcoalGrey: hsl(235, 18%, 26%);
$clr-Grey: hsl(231, 7%, 60%);
$clr-White: hsl(0, 0%, 100%);
$light--shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
$dark--shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
$transition: 0.3s all ease-in-out;
